<p id="notice"><%= notice %></p>

<h1>Order1s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Items</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order1s.each do |order1| %>
      <tr>
        <td><%= order1.name %></td>
        <td><%= order1.items %></td>
        <td><%= order1.comments %></td>
        <td><%= link_to 'Show', order1 %></td>
        <td><%= link_to 'Edit', edit_order1_path(order1) %></td>
        <td><%= link_to 'Destroy', order1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order1', new_order1_path %>
