<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order1.name %>
</p>

<p>
  <strong>Items:</strong>
  <%= @order1.items %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @order1.comments %>
</p>

<%= link_to 'Edit', edit_order1_path(@order1) %> |
<%= link_to 'Back', order1s_path %>
